h1{
    text-align: left;
    color:rebeccapurple;
}
img{
    align-items:center;
    padding-left:100px;
    width: 500px;
    height: 400px;
    border-radius:48%; 
    padding: 25px;  
}
h3,h2,h4,h5{
    text-align:center;
   color:rebeccapurple;
}

p{
 text-align:center; 
}


body{
   background-color:grey;
}
.sama p{
text-align:left;
}
.list{
    text-align: left;
}

    
    